# Arquivos pessoais joão
ajuda.*
guia-git.*
legado/
backlog*
backlog.md
rf001.*
rf002.*
relatorio*

# Environment variables
.env
*.env

# Python
*__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
*.venv/
*venv/
bcrypt

